.style{
	letter-spacing: 0.7px;
	padding-bottom: 25px;
	/*text-align: center;*/
}

.batton{
	float: right;
	padding-bottom: 20px;
}


/*****************************************DROP DOWN EXAM********************************************/

.drop{
/*left: 50% !important;*/
right: auto !important;
text-align: center;
transform: translate(150%, 0) !important;
width: 20%;
}

div.gradent:hover{
	background-color: #01457f;
    background-image: linear-gradient(#0482D8, #27A7FF) !important;

}

.look{
	font-size: 16px !important;
}
.look:hover{
	color: white;
}
.bdn{
	float: right;
}
.boxz{
	padding: 0px 10px 10px 10px;
}
.mrgn{
	margin-top: 20px;
	font-size: 12px;
    letter-spacing: 0.50px;
    font-weight: normal;
    font-family: 'Nunito Sans', sans-serif;
}

/* Star Rating Styles */
.starRating span {
  color: #888888;
  cursor: pointer;
  position: relative;
  padding-right: 1px;
}
.starRating span:last-child {
  padding-right: 0;
}
.starRating i {
  transition: opacity 0.4s;
}
.starRating .fa-star {
  color: #ffc000;
  position: absolute;
  left: 0;
  opacity: 0;
}
.starRating span:hover ~ span,
.starRated span.active ~ span {
  color: #888888;
}
.starRating:hover .fa-star,
.starRating span:hover ~ span .fa-star-o {
  opacity: 1 !important;
}
.starRating:hover .fa-star-o,
.starRating span:hover ~ span .fa-star {
  opacity: 0 !important;
}
.starRated .fa-star,
.starRated span.active ~ span .fa-star-o {
  opacity: 1;
}
.starRated .fa-star-o,
.starRated span.active ~ span .fa-star {
  opacity: 0;
}

.fnt{
	font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
.fnts{
	margin-top: 10px;
	font-size: 15px;
	text-decoration: line-through;
	float: left;
}
.stu{
	float: right;
}
.stuz{
	font-size: 25px;
	float: left;
	padding-left: 5px;
}
.dec{
	text-decoration: line-through;
	float: left;
}
.sldr2{
	color: white !important;
}
.mrgn-lf{
	margin-bottom: 45px;
}




.centr{
	text-align: center;
	margin-right: -10px;
}

.price-style{
	height: 40px;
	padding-top: 10px;
}

.svg{
	text-align: center;
    margin-bottom: 15px;
    width: 66px;
    margin-left: 162px;
}
.bx:hover{
    color: #707070;
    box-shadow: 0px 0px 5px 0px;
    padding: 15px 15px 10px 10px;
    }
.abt-head{
	margin-bottom: 10px;
    letter-spacing: 0px;
    color: #0482D8;
    font-family: 'Montserrat', sans-serif;
}
.abt-head-p{
	letter-spacing: 0px;
}
.abt-cnt-sep{
	color: #707070;
    box-shadow: 0px 0px 5px 0px;
}

.con {
  position: relative;
  font-family: Arial;
}

.text-block {
     position: relative;
    bottom: 275px;
    right: 20px;
    color: white !important;
}
.con-magn{
	margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}




/* Position text in the middle of the page/image */
/*.bg-text {
    position: absolute;
    top: 50%;
    left: 30px;
    z-index: 2;
    width: 80%;
}

.select-area {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}

.select-area select {
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 17px 21px;
        outline: 0;*/
        /*border: 3px hidden #000000;*/
/*        border-radius: 3px;
        background-color: #01457f;
   		background-image: linear-gradient(#0482D8, #27A7FF) !important;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select-area select::-ms-expand {
            display: none;
        }
        .select-area select:hover,
        .select-area select:focus {
            /* color: #002773; */
/*            background: #fffafa;
        }
        .select-area select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
.select-arrow {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 12px;
    height: 12px;
    border: solid #7b7b7b;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.select-area select:hover ~ .select-arrow,
.select select:focus ~ .select-arrow {
    border-color: #000000;
}
.select-area select:disabled ~ .select-arrow {
    border-top-color: #cccccc;
}

*/



.centerr {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 42%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

/** Custom Select **/
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
  .custom-select-wrapper select {
    display: none;
  }
  .custom-select {
    position: relative;
    display: inline-block;
  }
    .custom-select-trigger {
      position: relative;
      display: block;
      width: 200px;
      padding: 0px 0px 0px 13px;
      font-size: 17px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      color: #fff;
      line-height: 60px;
      background-color: #01457f;
    background-image: linear-gradient(#0482D8, #27A7FF) !important;
      border-radius: 4px;
      cursor: pointer;
    }
      .custom-select-trigger:after {
        position: absolute;
        display: block;
        content: '';
        width: 10px; height: 10px;
        top: 50%; right: 25px;
        margin-top: -3px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg) translateY(-50%);
        transition: all .4s ease-in-out;
        transform-origin: 50% 0;
      }
      .custom-select.opened .custom-select-trigger:after {
        margin-top: 3px;
        transform: rotate(-135deg) translateY(-50%);
      }
  .custom-options {
    position: absolute;
    display: block;
    top: 100%; left: 0; right: 0;
    min-width: 100%;
    margin: 15px 0;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    background: #fff;
    transition: all .4s ease-in-out;
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
  }
  .custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }
    .custom-options:before {
      position: absolute;
      display: block;
      content: '';
      bottom: 100%; right: 25px;
      width: 7px; height: 7px;
      margin-bottom: -4px;
      border-top: 1px solid #b5b5b5;
      border-left: 1px solid #b5b5b5;
      background: #fff;
      transform: rotate(45deg);
      transition: all .4s ease-in-out;
    }
    .option-hover:before {
      background: #f9f9f9;
    }
    .custom-option {
      text-align: center;
      position: relative;
      display: block;
      padding: 0 22px;
      border-bottom: 1px solid #b5b5b5;
      font-size: 18px;
      font-weight: 600;
      color: #b5b5b5;
      line-height: 47px;
      cursor: pointer;
      transition: all .4s ease-in-out;
    }
    .custom-option:first-of-type {
      border-radius: 4px 4px 0 0;
    }
    .custom-option:last-of-type {
      border-bottom: 0;
      border-radius: 0 0 4px 4px;
    }
    .custom-option:hover,
    .custom-option.selection {
      background: #f9f9f9;
    }























