

/********************** cumulative tes ******************************/











/**********************End *****************************/ 

/********************** test list ******************************/

h1{
             font-size:35px;
             text-align: left;
             font-family: 'Montserrat', sans-serif;
             text-transform:capitalize;
         }
        .service-box{
            position: relative;
            overflow: hidden;
            margin-bottom:10px;
            perspective:1000px;
            -webkit-perspective:1000px;
        }
        .service-icon{
            width: 100%;
            height: 220px;
            padding: 20px;
            text-align: center;
            transition: all .5s ease;
        }

        .service-content{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            opacity: 0;
            width: 100%;
            height: 220px;
            padding: 20px;
            text-align: center;
            transition: all .5s ease;
            background-color: #0ea3c4;
            backface-visibility:hidden;
            transform-style: preserve-3d;
            -webkit-transform: translateY(110px) rotateX(-90deg);
            -moz-transform: translateY(110px) rotateX(-90deg);
            -ms-transform: translateY(110px) rotateX(-90deg);
            -o-transform: translateY(110px) rotateX(-90deg);
            transform: translateY(110px) rotateX(-90deg);
        }
        .service-box .service-icon .front-content{
            position: relative;
            top:80px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .service-box .service-icon .front-content i {
            font-size: 28px;
            color: #fff;
            font-weight: normal;
        }

        .service-box .service-icon .front-content h3 {
            font-size: 15px;
            color: #fff;
            text-align: center;
            margin-bottom: 15px;
            text-transform: uppercase;
        }
        .service-box .service-content h3 {
            font-size: 15px;
            font-weight: 700;
            color: #fff;
            margin-bottom:10px;
            text-transform: uppercase;
        }
        .service-box .service-content p {
            font-size: 13px;
            color: #ffffff;
            margin:0;
        }
        .yellow{background-color: #01457f;}
        .orange{background-color: #01457f;}
        .red{background-color: #01457f;}
        .grey{background-color: #01457f;}
        .service-box:hover .service-icon{
            opacity: 0;
            -webkit-transform: translateY(-110px) rotateX(90deg);
            -moz-transform: translateY(-110px) rotateX(90deg);
            -ms-transform: translateY(-110px) rotateX(90deg);
            -o-transform: translateY(-110px) rotateX(90deg);
            transform: translateY(-110px) rotateX(90deg);
        }
        .service-box:hover .service-content {
            opacity: 1;
            -webkit-transform: rotateX(0);
            -moz-transform: rotateX(0);
            -ms-transform: rotateX(0);
            -o-transform: rotateX(0);
            transform: rotateX(0);
        }

/**********************End *****************************/ 

/********************** admin ******************************/

#morris-bar-chart {
  -webkit-transition: all 2s; /* Safari */
  transition: all 2s;
}

#morris-table-left-div {
  /*height: 350px;
  overflow: hidden;*/
}
.header-row {
  padding: 0 18px;
}
.header-column {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  display: inline-block;
  font-weight: 300;
  color: #555;
  /*border: 1px solid grey;*/
  padding: 0px;
  width: 24%;
  box-sizing: border-box; /*content-box|border-box|initial|inherit;*/
}
.list-group-column {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  display: inline-block;
  font-weight: 300;
  color: #555;
  /*border: 1px solid grey;*/
  padding: 0px;
  width: 24%;
}


/**********************End *****************************/ 


/********************** Payment ******************************/
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -o-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}

/*body {
  font-family:"Open Sans", Helvetica, Arial, sans-serif;
  font-weight:300;
  font-size: 12px;
  line-height:30px;
  color:#777;
  background:#0CF;
}*/

.containerr {
  max-width:400px;
  width:100%;
  margin:0 auto;
  position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  background:#F9F9F9;
  padding:25px;
  /*margin:50px 0;*/
}

#contact h3 {
  color: #0482d8;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin:5px 0 15px;
  display:block;
  font-size:13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  background:#0CF;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
}

#contact button[type="submit"]:hover {
  background:#09C;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

/**********************End *****************************/ 


/********************** report ******************************/

.report-1{
  float: left;
  font-size: 20px;
}
.report-2{
  text-align: center;
  font-size: 20px;
}
.report-3{
  float: right;
  font-size: 20px;
  line-height: 10px;
  margin-top: -35px;
}

.report{
  width: 900px;
  background-color: #ffffff;
  height: fixed;
  padding: 15px;
  border:solid 5px #eef0f0;
  border-radius: 10px;
  font-size: 20px;
  line-height: 20px;
}


/**********************End *****************************/ 

/******************** Tree ***********************************/
:root {
    font-size: 14px;
}

.tree-view {
    position: relative;
    
    display: flex;
    flex-direction: column;
    
    width: max-content;
    
    font-size: 1.25rem;
    
    padding-left: 1rem;
    
    user-select: none;
}

.branch-node {
    position: relative;
    
    padding-left: 2rem;
    
    cursor: pointer;
}

.branch-node::before, .branches > ::before {
    content: "";
    
    position: absolute;
    
    left: -0.5rem;
    top: 1.5rem;
    
    width: 3rem;
    
    border-left: 2px solid black;
    border-top: 2px solid black;
}

.branch-node:not(:last-child)::before, .branches > :not(:last-child)::before {
    height: 100%;
}

.branch-node:last-child::before, .branches > :last-child::before {
    border-top: 0;
    border-bottom: 2px solid black;
}

:not(.tree-view) > .branch-node:first-child::after, .branches > :first-child::after {
    content: "";
    
    position: absolute;
    
    left: -0.5rem;
    top: -1.5rem;
    
    height: 3rem;
    
    border-left: 2px solid black;
}

.branch-title {
    position: relative;
    
    display: list-item;
    list-style: none;
    
    width: max-content;
    height: 3rem;
    line-height: 3rem;
    
    padding-left: 3rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
}

.branch-title::before {
    content: '►';
    
    position: absolute;
    
    left: 1rem;
    
    margin-right: 1rem;    
}

.branch-node.open > .branch-title::before {
    transform: rotate(90deg);
}

.branch-node.open > .branches {
    display: initial;
}

.branches {
    display: none;
    
    padding: 0;
    margin: 0;
}

.branches > .branch-node {
    margin-left: 2rem;
}

.branches > li {
    position: relative;
    
    list-style: none;
    
    width: fit-content;
    min-height: 4rem;
    line-height: 3rem;
    
    margin-left: 2rem;
    padding-left: 3rem;
}

/*.report-2{
  text-align: center;
}
.report-3{
  float: right;
}


.report{
  width: 900px;
  background-color: #ffffff;
  height: fixed;
  padding: 50px;
  border:solid 5px #eef0f0;
  border-radius: 10px;
}*/

/**************End *******************/

/********************* Pop up ********************************/
/* The Modal (background) */
.pop_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*************************** Timer *******************************/ 

.alert_timerr{
  float: right;
  margin-top: -75px;
  font-size: x-large;
  color: #fc0a53;
}

.timer{
  float: right;
  margin-top: -75px;
  font-size: x-large;
  color: #02cbf7;
}

.timer_span {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}


/*...................  Radio Button    ........................*/
.radio_align{
  margin-right: 10px!important;
}


/*...................  Check Box    ........................*/
.checkbox_n{
    width:18px;
    height:18px;
}

.label_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 100 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.label_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.label_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.label_container:hover input ~ .label_checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.label_container input:checked ~ .label_checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.label_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.label_container input:checked ~ .label_checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.label_container .label_checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}




/*...........................................*/

.right-slide h4 {
    font-size: 20px;
    border-bottom: solid 2px #e0e0e0;
    line-height: 34px;
    padding-bottom: 10px;
    color: #333;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 10px;
}
h4, .h4 {
    font-size: 24px;
}
h4, .h4 {
    margin-top: 0;
    margin-bottom: 0;
   /* font-family: 'poetsenoneregular';*/
    font-weight: normal;
}
h4, h4,.h4, .h4 {
    font-family: 'verdana';
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
h4 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
body {
	margin:  0;
}
.spage-content {
	width: 100%;
	padding-top: 60px;
  padding-bottom: 60px;
	background: #ffffff;
	/*display: flex;
	display: -webkit-flex;*/
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	
}
.sform-v10-content  {
	background: #fff;
	width: 1100px;
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	margin: 0px 0 0 125px;
	position: relative;
	font-family: 'Montserrat', sans-serif;
}
.sform-v10-content .form-detail {
	position: relative;
	width: 100%;
	display: flex;
	display: -webkit-flex;
}
.sform-v10-content .form-detail h2 {
	font-weight: 500;
	font-size: 25px;
	margin-bottom: 34px;
	padding: 33px 50px 0px 60px;
}
.sform-v10-content .form-detail .form-left {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 50%;
}
.sform-v10-content .form-detail .form-left h2 {
	color: #2271dd;
}
.sform-v10-content .form-detail .form-right {
	width: 50%;
	background: #4835d4;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.sform-v10-content .form-detail .form-right h2 {
	color: #fff;
}
.sform-v10-content .form-detail .sform-group {
	display: flex;
	display: -webkit-flex;
}
.sform-v10-content .form-detail .form-row {
	position: relative;
	margin-bottom: 24px;
	padding-left: 60px;
    padding-right: 50px;
}
.sform-v10-content .form-detail .form-left .sform-group .form-row.form-row-1 {
	width: 50%;
	padding: 0 12px 0 60px;
}
.sform-v10-content .form-detail .form-left .sform-group .form-row.form-row-2 {
	width: 50%;
	padding: 0 50px 0 12px;
}
.sform-v10-content .form-detail .form-left .sform-group .form-row.form-row-3 {
	width: 73%;
	padding: 0 12px 0 60px;
}
.sform-v10-content .form-detail .form-left .sform-group .form-row.form-row-4 {
	width: 50%;
	padding: 0 50px 0 12px;
}
.sform-v10-content .form-detail .form-right .sform-group .form-row.form-row-1 {
	width: 50%;
	padding: 0 12px 0 60px;
}
.sform-v10-content .form-detail .form-right .sform-group .form-row.form-row-2 {
	width: 50%;
	padding: 0 50px 0 12px;
}
.sform-v10-content .form-detail select,
.sform-v10-content .form-detail input {
	width: 100%;
    padding: 11.5px 15px 15px 15px;
    border: 1px solid transparent;
    background: transparent;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.sform-v10-content .form-detail select {
	background: 0 0;
	position: relative;
	z-index: 9;
	cursor: pointer;
}
.sform-v10-content .form-detail .form-left select {
	color: #666;
}
.sform-v10-content .form-detail .form-right select {
	color: #f2f2f2;
}
.sform-v10-content .form-detail .select-btn {
	z-index: 0;
    position: absolute;
    top: 30%;
    right: 11.5%;
    font-size: 18px;
}
.sform-v10-content .form-detail .form-left .select-btn {
    color: #666;
}
.sform-v10-content .form-detail .form-right .select-btn {
    color: #f2f2f2;
}
.sform-v10-content .form-detail .sform-group .form-row.form-row-4 .select-btn {
	top: 20%;
	right: 26%;
}
.sform-v10-content .form-detail .form-right .sform-group .form-row.form-row-2 .select-btn {
	top: 20%;
	right: 19%;
}
.sform-v10-content .form-detail .form-left input {
	color: #000;
}
.sform-v10-content .form-detail .form-right input {
	color: #fff;
}
.sform-v10-content .form-detail .form-left input,
.sform-v10-content .form-detail .form-left select {
	border-bottom: 1px solid #ccc;
}
.sform-v10-content .form-detail .form-left input:focus,
.sform-v10-content .form-detail .form-left select:focus {
	border-bottom: 1px solid #999;
}
.sform-v10-content .form-detail .form-right input,
.sform-v10-content .form-detail .form-right select {
	border-bottom: 1px solid;
	border-bottom-color: rgba(255, 255, 255, 0.3);
}
.sform-v10-content .form-detail .form-right input:focus,
.sform-v10-content .form-detail .form-right select:focus {
	border-bottom: 1px solid #ccc;
}
.sform-v10-content .form-detail .form-right select option {
	background: #4835d4;
}
.sform-v10-content .form-detail .form-checkbox {
	margin-top: 0px;
	padding: 0 50px 30px 30px;
	position: relative;
}
.sform-v10-content .form-detail .form-checkbox input {
	position: absolute;
    opacity: 0;
}
.sform-v10-content .form-detail .form-checkbox .checkmark {
	position: absolute;
    top: 1px;
    left: 60px;
    height: 15px;
    width: 15px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
}
.sform-v10-content .form-detail .form-checkbox .checkmark::after {
	content: "";
    position: absolute;
    left: 5px;
   	top: 1px;
    width: 3px;
    height: 8px;
    border: 1px solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}
.sform-v10-content .form-detail .form-checkbox input:checked ~ .checkmark::after {
    display: block;
}
.sform-v10-content .form-detail .form-checkbox p {
    margin-left: 34px;
    color: #e5e5e5;
    font-size: 14px;
    font-weight: 400;
}
.sform-v10-content .form-detail .form-checkbox .text {
	font-weight: 400;
	color: #fff;
	text-decoration: underline;
}
.sform-v10-content .form-detail .form-right .form-row-last {
    padding-left: 323px;
    margin: 40px 0 10px 0px;
}
.sform-v10-content .form-detail .form-right .register {
	background: #fff;
	border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	width: 180px;
	border: none;
	margin: 6px 0 10px 0px;
	cursor: pointer;
	color: #333;
	font-weight: 700;
	font-size: 15px;
}
.sform-v10-content .form-detail .form-right .register:hover {
	background: #ccc;
}
.sform-v10-content .form-detail .form-right .form-row-last input {
	padding: 12.5px;
}
.sform-v10-content .form-detail .form-left input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #666;
  font-size: 16px;
}
.sform-v10-content .form-detail .form-left input::-moz-placeholder { /* Firefox 19+ */
  color: #666;
  font-size: 16px;
}
.sform-v10-content .form-detail .form-left input:-ms-input-placeholder { /* IE 10+ */
  color: #666;
  font-size: 16px;
}
.sform-v10-content .form-detail .form-left input:-moz-placeholder { /* Firefox 18- */
  color: #666;
  font-size: 16px;
}
.sform-v10-content .form-detail .form-right input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #f2f2f2;
  font-size: 16px;
}
.sform-v10-content .form-detail .form-right input::-moz-placeholder { /* Firefox 19+ */
  color: #f2f2f2;
  font-size: 16px;
}
.sform-v10-content .form-detail .form-right input:-ms-input-placeholder { /* IE 10+ */
  color: #f2f2f2;
  font-size: 16px;
}
.sform-v10-content .form-detail .form-right input:-moz-placeholder { /* Firefox 18- */
  color: #f2f2f2;
  font-size: 16px;
}

/* Responsive */
@media screen and (max-width: 1199px) {
	.sform-v10-content {
		margin:  95px 20px;
	}
}
@media screen and (max-width: 991px) and (min-width: 768px) {
	.sform-v10-content .form-detail .sform-group {
		flex-direction:  column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
		-webkit-flex-direction:  column;
	}
	.sform-v10-content .form-detail .form-left .sform-group .form-row.form-row-1,
	.sform-v10-content .form-detail .form-left .sform-group .form-row.form-row-2,
	.sform-v10-content .form-detail .form-left .sform-group .form-row.form-row-3,
	.sform-v10-content .form-detail .form-left .sform-group .form-row.form-row-4,
	.sform-v10-content .form-detail .form-right .sform-group .form-row.form-row-1,
	.sform-v10-content .form-detail .form-right .sform-group .form-row.form-row-2 {
	    width: auto;
	    padding: 0 50px 0 60px;
	}
	.sform-v10-content .form-detail .select-btn,
	.sform-v10-content .form-detail .form-left .sform-group .form-row.form-row-4 .select-btn,
	.sform-v10-content .form-detail .form-right .sform-group .form-row.form-row-2 .select-btn {
		right: 15%;
	}

}
@media screen and (max-width: 767px) {
	.sform-v10-content .form-detail {
		flex-direction:  column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
		-webkit-flex-direction:  column;
	}
	.sform-v10-content .form-detail .form-right {
		border-top-right-radius: 0px;
    	border-bottom-left-radius: 10px;
	}
	.sform-v10-content .form-detail .form-left {
		padding-bottom: 50px;
	}
}
@media screen and (max-width: 575px) {
	.sform-v10-content .form-detail .sform-group {
		flex-direction:  column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
		-webkit-flex-direction:  column;
	}
	.sform-v10-content .form-detail .form-row,
	.sform-v10-content .form-detail .form-left .sform-group .form-row.form-row-1,
	.sform-v10-content .form-detail .form-left .sform-group .form-row.form-row-2,
	.sform-v10-content .form-detail .form-left .sform-group .form-row.form-row-3,
	.sform-v10-content .form-detail .form-left .sform-group .form-row.form-row-4,
	.sform-v10-content .form-detail .form-right .sform-group .form-row.form-row-1,
	.sform-v10-content .form-detail .form-right .sform-group .form-row.form-row-2 {
	    width: auto;
	    padding: 0 30px;
	}
	.sform-v10-content .form-detail .select-btn,
	.sform-v10-content .form-detail .form-left .sform-group .form-row.form-row-4 .select-btn,
	.sform-v10-content .form-detail .form-right .sform-group .form-row.form-row-2 .select-btn {
		right: 15%;
	}
	.sform-v10-content .form-detail h2 {
	    padding: 33px 30px 0px 30px;
	}
	.sform-v10-content .form-detail .form-checkbox {
		padding: 0 30px;
	}
	.sform-v10-content .form-detail .form-checkbox .checkmark {
		left: 30px;
	}
	.sform-v10-content .form-detail .form-right .form-row-last {
		padding-left: 0;
		text-align: center;
	    margin: 44px 0 30px;
	}
}
.wbg{
	background: #8bc5ec;!important;
}
.slogin-view {
    padding: 50px 0;
}
.login-view .sosiyal-login {
    display: block;
    width: 100%;
    padding: 80px 0 40px 0;
    margin: 0 auto;
    max-width: 700px;
}

.mbtn{
    display: inline-block;
    padding: 10px 25px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 16px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-color: #02cbf7;
    color: #fff;
    border: none;
    border-radius: 5px;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}


.pp {
  margin-bottom: 0px;
  font-size: 15px;
  color: #777; }

.hh {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: 900;
  color: #222;
  /*font-family: 'Montserrat';*/
  font-family: 'verdana';
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px; }


.bb {
  font-size: 14px;
  line-height: 1.8;
  color: #222;
  font-weight: 400;
  font-family: 'Montserrat';
  background-image: url("../images/signup-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center center;
  padding: 3px 0; }

.slcontainer {
  width: 660px;
  position: relative;
  margin: 0 auto; }

.slsignup-content {
/*  background: #fff;*/
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  padding: 50px 85px; }

.slform-group {
  overflow: hidden;
  margin-bottom: 20px; }

.slform-input {
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  color: #222; }
  .slform-input::-webkit-input-placeholder {
    color: #999; }
  .slform-input::-moz-placeholder {
    color: #999; }
  .slform-input:-ms-input-placeholder {
    color: #999; }
  .slform-input:-moz-placeholder {
    color: #999; }
  .slform-input::-webkit-input-placeholder {
    font-weight: 500; }
  .slform-input::-moz-placeholder {
    font-weight: 500; }
  .slform-input:-ms-input-placeholder {
    font-weight: 500; }
  .slform-input:-moz-placeholder {
    font-weight: 500; }
  .slform-input:focus {
    border: 1px solid transparent;
    -webkit-border-image-source: -webkit-linear-gradient(to right, #9face6, #74ebd5);
    -moz-border-image-source: -moz-linear-gradient(to right, #9face6, #74ebd5);
    -o-border-image-source: -o-linear-gradient(to right, #9face6, #74ebd5);
    border-image-source: linear-gradient(to right, #9face6, #74ebd5);
    -webkit-border-image-slice: 1;
    border-image-slice: 1;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    background-origin: border-box;
   /* background-clip: content-box, border-box;*/ }
    .slform-input:focus::-webkit-input-placeholder {
      color: #222; }
    .slform-input:focus::-moz-placeholder {
      color: #222; }
    .slform-input:focus:-ms-input-placeholder {
      color: #222; }
    .slform-input:focus:-moz-placeholder {
      color: #222; }

.slform-submit {
  width: 100%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-image: -moz-linear-gradient(to left, #74ebd5, #9face6);
  background-image: -ms-linear-gradient(to left, #74ebd5, #9face6);
  background-image: -o-linear-gradient(to left, #74ebd5, #9face6);
  background-image: -webkit-linear-gradient(to left, #74ebd5, #9face6);
  background-image: linear-gradient(to left, #74ebd5, #9face6); }

.sllabel-agree-term  {
  font-size: 12px;
  font-weight: 600;
  color: #555; }

.slterm-service {
  color: #555; }

.slloginhere {
  color: #555;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px; }

.slloginhere-link {
  font-weight: 700;
  color: #222; }

.slfield-icon {
  float: right;
  margin-right: 17px;
  margin-top: -32px;
  position: relative;
  z-index: 2;
  color: #555; }

@media screen and (max-width: 768px) {
  .slcontainer {
    width: calc(100% - 40px);
    max-width: 100%; } }
@media screen and (max-width: 480px) {
  .slsignup-content {
    padding: 50px 25px; } }

/*# sourceMappingURL=style.css.map */
.tablerow{
  margin: 50px 0 -21px 0;
  padding-bottom: 20px;
}

.table-mborder{
  border: 1px solid #b2a9a9!important;
}

.table-mborder th {
  border: 1px solid #b2a9a9!important;
}
.table-mborder td {
  border: 1px solid #b2a9a9!important;
}
.b{
/*  position: absolute;*/
  padding-left: 90px;
  background-color: #f6f6f6;
  border-radius: 0px;
}
.sfr{
  padding: 14px 0 0 29px;
  margin-bottom: 0;
  color: #666666;
  font-weight: normal;
  font-size: 16px;
}

.field-icon {
  float: right;
  margin-right: 17px;
  margin-top: -39px;
  position: relative;
  z-index: 2;
  color: #555;
}




.sspage-content {
  width: 100%;
  padding-top: 60px;
  background: #ffffff;
  /*display: flex;
  display: -webkit-flex;*/
  justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  
}
.ssform-v10-content  {
  background: #fff;
  width: 1190px;
  border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  margin: 0px 0 0 90px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}
.ssform-v10-content .form-detail {
  position: relative;
  width: 100%;
  display: flex;
  display: -webkit-flex;
}
.ssform-v10-content .form-detail h2 {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 34px;
  padding: 33px 50px 0px 60px;
}
.ssform-v10-content .form-detail .form-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  background-color: #f6f6f6;
}
.ssform-v10-content .form-detail .form-left h2 {
  color: #2271dd;
}
.ssform-v10-content .form-detail .form-right {
  width: 100%;
  background: #f6f6f6;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.ssform-v10-content .form-detail .form-right h2 {
  color: #1f1b1b;
}
.ssform-v10-content .form-detail .ssform-group {
  display: flex;
  display: -webkit-flex;
}
.ssform-v10-content .form-detail .form-row {
  position: relative;
  margin-bottom: 24px;
  padding-left: 60px;
    padding-right: 50px;
}
.ssform-v10-content .form-detail .form-left .ssform-group .form-row.form-row-1 {
  width: 50%;
  padding: 0 12px 0 60px;
}
.ssform-v10-content .form-detail .form-left .ssform-group .form-row.form-row-2 {
  width: 50%;
  padding: 0 50px 0 12px;
}
.ssform-v10-content .form-detail .form-left .ssform-group .form-row.form-row-3 {
  width: 73%;
  padding: 0 12px 0 60px;
}
.ssform-v10-content .form-detail .form-left .ssform-group .form-row.form-row-4 {
  width: 50%;
  padding: 0 50px 0 12px;
}
.ssform-v10-content .form-detail .form-right .ssform-group .form-row.form-row-1 {
  width: 50%;
  padding: 0 12px 0 60px;
}
.ssform-v10-content .form-detail .form-right .ssform-group .form-row.form-row-2 {
  width: 50%;
  padding: 0 50px 0 12px;
}
.ssform-v10-content .form-detail select,
.ssform-v10-content .form-detail input {
  width: 100%;
    padding: 11.5px 15px 15px 15px;
    border: 1px solid transparent;
    background: transparent;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.ssform-v10-content .form-detail select {
  background: 0 0;
  position: relative;
  z-index: 9;
  cursor: pointer;
}
.ssform-v10-content .form-detail .form-left select {
  color: #666;
}
.ssform-v10-content .form-detail .form-right select {
  color: #f2f2f2;
}
.ssform-v10-content .form-detail .select-btn {
  z-index: 0;
    position: absolute;
    top: 30%;
    right: 11.5%;
    font-size: 18px;
}
.ssform-v10-content .form-detail .form-left .select-btn {
    color: #666;
}
.ssform-v10-content .form-detail .form-right .select-btn {
    color: #f2f2f2;
}
.ssform-v10-content .form-detail .ssform-group .form-row.form-row-4 .select-btn {
  top: 20%;
  right: 26%;
}
.ssform-v10-content .form-detail .form-right .ssform-group .form-row.form-row-2 .select-btn {
  top: 20%;
  right: 19%;
}
.ssform-v10-content .form-detail .form-left input {
  color: #000;
}
.ssform-v10-content .form-detail .form-right input {
  color: #130f0f;
}
.ssform-v10-content .form-detail .form-left input,
.ssform-v10-content .form-detail .form-left select {
  border-bottom: 1px solid #999090;
}
.ssform-v10-content .form-detail .form-left input:focus,
.ssform-v10-content .form-detail .form-left select:focus {
  border-bottom: 1px solid #999;
}
.ssform-v10-content .form-detail .form-right input,
.ssform-v10-content .form-detail .form-right select {
  border-bottom: 1px solid;
  border-bottom-color: rgba(6, 5, 5, 0.3);
}
.ssform-v10-content .form-detail .form-right input:focus,
.ssform-v10-content .form-detail .form-right select:focus {
  border-bottom: 1px solid #ccc;
}
.ssform-v10-content .form-detail .form-right select option {
  background: #4835d4;
}
.ssform-v10-content .form-detail .form-checkbox {
  margin-top: 0px;
  padding: 0 50px 30px 30px;
  position: relative;
}
.ssform-v10-content .form-detail .form-checkbox input {
  position: absolute;
    opacity: 0;
}
.ssform-v10-content .form-detail .form-checkbox .checkmark {
  position: absolute;
    top: 1px;
    left: 60px;
    height: 15px;
    width: 15px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
}
.ssform-v10-content .form-detail .form-checkbox .checkmark::after {
  content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: 1px solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transsform: rotate(45deg);
    -ms-transsform: rotate(45deg);
    -o-transsform: rotate(45deg);
    -moz-transsform: rotate(45deg);
    transsform: rotate(45deg);
    display: none;
}
.ssform-v10-content .form-detail .form-checkbox input:checked ~ .checkmark::after {
    display: block;
}
.ssform-v10-content .form-detail .form-checkbox p {
    margin-left: 34px;
    color: #e5e5e5;
    font-size: 14px;
    font-weight: 400;
}
.ssform-v10-content .form-detail .form-checkbox .text {
  font-weight: 400;
  color: #fff;
  text-decoration: underline;
}
.ssform-v10-content .form-detail .form-left .form-row-last {
    padding-left: 462px;
    margin: 40px 0 10px 0px;
}
.ssform-v10-content .form-detail .form-left .register {
  background: #fff;
  border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
  width: 180px;
  border: none;
  margin: 6px 0 10px 0px;
  cursor: pointer;
  color: #2271dd;
  font-weight: 700;
  font-size: 15px;
}
.ssform-v10-content .form-detail .form-left .register:hover {
  background: #ccc;
}
.ssform-v10-content .form-detail .form-left .form-row-last input {
  padding: 12.5px;
}
.ssform-v10-content .form-detail .form-left input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #666;
  font-size: 16px;
}
.ssform-v10-content .form-detail .form-left input::-moz-placeholder { /* Firefox 19+ */
  color: #666;
  font-size: 16px;
}
.ssform-v10-content .form-detail .form-left input:-ms-input-placeholder { /* IE 10+ */
  color: #666;
  font-size: 16px;
}
.ssform-v10-content .form-detail .form-left input:-moz-placeholder { /* Firefox 18- */
  color: #666;
  font-size: 16px;
}
.ssform-v10-content .form-detail .form-right input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #f2f2f2;
  font-size: 16px;
}
.ssform-v10-content .form-detail .form-right input::-moz-placeholder { /* Firefox 19+ */
  color: #f2f2f2;
  font-size: 16px;
}
.ssform-v10-content .form-detail .form-right input:-ms-input-placeholder { /* IE 10+ */
  color: #f2f2f2;
  font-size: 16px;
}
.ssform-v10-content .form-detail .form-right input:-moz-placeholder { /* Firefox 18- */
  color: #f2f2f2;
  font-size: 16px;
}

/* Responsive */
@media screen and (max-width: 1199px) {
  .ssform-v10-content {
    margin:  95px 20px;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .ssform-v10-content .form-detail .ssform-group {
    flex-direction:  column;
    -o-flex-direction:  column;
    -ms-flex-direction:  column;
    -moz-flex-direction:  column;
    -webkit-flex-direction:  column;
  }
  .ssform-v10-content .form-detail .form-left .ssform-group .form-row.form-row-1,
  .ssform-v10-content .form-detail .form-left .ssform-group .form-row.form-row-2,
  .ssform-v10-content .form-detail .form-left .ssform-group .form-row.form-row-3,
  .ssform-v10-content .form-detail .form-left .ssform-group .form-row.form-row-4,
  .ssform-v10-content .form-detail .form-right .ssform-group .form-row.form-row-1,
  .ssform-v10-content .form-detail .form-right .ssform-group .form-row.form-row-2 {
      width: auto;
      padding: 0 50px 0 60px;
  }
  .ssform-v10-content .form-detail .select-btn,
  .ssform-v10-content .form-detail .form-left .ssform-group .form-row.form-row-4 .select-btn,
  .ssform-v10-content .form-detail .form-right .ssform-group .form-row.form-row-2 .select-btn {
    right: 15%;
  }

}
@media screen and (max-width: 767px) {
  .ssform-v10-content .form-detail {
    flex-direction:  column;
    -o-flex-direction:  column;
    -ms-flex-direction:  column;
    -moz-flex-direction:  column;
    -webkit-flex-direction:  column;
  }
  .ssform-v10-content .form-detail .form-right {
    border-top-right-radius: 0px;
      border-bottom-left-radius: 10px;
  }
  .ssform-v10-content .form-detail .form-left {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 575px) {
  .ssform-v10-content .form-detail .ssform-group {
    flex-direction:  column;
    -o-flex-direction:  column;
    -ms-flex-direction:  column;
    -moz-flex-direction:  column;
    -webkit-flex-direction:  column;
  }
  .ssform-v10-content .form-detail .form-row,
  .ssform-v10-content .form-detail .form-left .ssform-group .form-row.form-row-1,
  .ssform-v10-content .form-detail .form-left .ssform-group .form-row.form-row-2,
  .ssform-v10-content .form-detail .form-left .ssform-group .form-row.form-row-3,
  .ssform-v10-content .form-detail .form-left .ssform-group .form-row.form-row-4,
  .ssform-v10-content .form-detail .form-right .ssform-group .form-row.form-row-1,
  .ssform-v10-content .form-detail .form-right .ssform-group .form-row.form-row-2 {
      width: auto;
      padding: 0 30px;
  }
  .ssform-v10-content .form-detail .select-btn,
  .ssform-v10-content .form-detail .form-left .ssform-group .form-row.form-row-4 .select-btn,
  .ssform-v10-content .form-detail .form-right .ssform-group .form-row.form-row-2 .select-btn {
    right: 15%;
  }
  .ssform-v10-content .form-detail h2 {
      padding: 33px 30px 0px 30px;
  }
  .ssform-v10-content .form-detail .form-checkbox {
    padding: 0 30px;
  }
  .ssform-v10-content .form-detail .form-checkbox .checkmark {
    left: 30px;
  }
  .ssform-v10-content .form-detail .form-right .form-row-last {
    padding-left: 0;
    text-align: center;
      margin: 44px 0 30px;
  }

.table{
  border:1px solid black;
  margin-bottom: 250px;
}
.th{
  border:1px solid black;
}
.tr{
  border:1px solid black;
}
}

.our-course .course-box .comment-row .eenroll-btn{
  display: inline-block; margin-left: 18px; padding: 0 19px 0 0; font-size: 14px; color: #4d4d4d; line-height: 36px; vertical-align: top;
}
.our-course .course-box .comment-row .eenroll-btn .btn {
  line-height:34px; padding:0 18px; font-size:16px;
}

.r_days{
  font-size: 15px;
}
.bg-skblue{
  background-color: #d4e3f7;
}
.level{
  text-align: center;
  background-color: #96c0f8;
}
.eenroll{
  display: inline-block;
  margin-left: 18px;
  padding: 0 19px 0 0;
  font-size: 14px;
  color: #4d4d4d;
  line-height: 36px;
  vertical-align: top;
}
.comment-{
  display: block;
  padding: 7px 10px;
  background: #f9f9f9;
  border-top: solid 1px #f1f1f1;
  text-align: center;
}
.btnn{
  display: inline-block;
  padding: 2px 10px;
  /* margin-bottom: 100px; */
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-color: #01457f;
  color: #ffffff;
  border: none;
  /* border-radius: 5px; */
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.rate{
  font-size: 19px;
}
.padding20
{
  margin: 15px 10px 5px 15px;
  font-weight: bold;
  color: bisque;
  background-color: #028eed;
  padding: 10px 10px;
}

.mt{
  margin-top: 10px;
}
.hidee{
  display: none;
}
.pdt{
  padding-top: 90px;
}
.mlb{
  margin: 5px 0 10px 10px;
}